.homepage {
    background-image: url(../../assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 82vh;
    display: grid;
    place-items: center;
}