.toy-management-page {
    min-height: 100vh;
    background-color: var(--teal-soft);

    display: flex;
    justify-content: center;
    padding: 2rem;
}


.toy-management__cell,
.toy-management__header-cell {
    padding: 1.2rem;
    vertical-align: middle;
    min-height: 4rem;

}

.toy-management-page {
    min-height: 100vh;
    background-color: var(--teal-soft);
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.toy-management__cell,
.toy-management__header-cell {
    padding: 1.2rem;
    vertical-align: middle;
    min-height: 4rem;

}


.toy-management__actions {
    padding: 3%;
    text-align: center;
    border-radius: 5px;
    background-color: var(--teal);
    font-size: 1rem;
    color: var(--bg-section);
    cursor: pointer;
}

.toy-management__button,
.toy-management__button:visited,
.toy-management__button:hover,
.toy-management__button:active {
    text-decoration: none;
    color: var(--bg-section);
}

.toy-management__actions:hover,
.toy-management__button--delete:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.toy-management__actions:active .toy-management__button--delete:active {
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.toy-management__button--delete {
    padding: 8%;
    background-color: var(--mustard);
    border-radius: 5px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.toy-management__header-row {
    background-color: var(--soft-blue);

}

.toy-management__title {
    display: flex;
    justify-content: space-between;
}

.toy-management__actions--add {
    width: 20%;
    padding: 1%;
    background-color: var(--coral-dark);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5%;

}