.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 20%;
}

.logo img {
    width: 15%;
}


.logo__text {
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--navy-700);
}

.logo__text:hover {
    opacity: 0.7;
    transform: translateY(-3px);

}


.logo:hover .logo__img {
    opacity: 0.7;
    transform: translateY(-3px);

}

.logo:hover .logo__img:active {
    transform: translateY(1px);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--navy-700);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}