.toy-detail {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    padding: 3%;
}

.toy-detail__img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

.toy-detail__content {
    font-size: 1.2rem;
}

.toy-detail__title {
    color: var(--navy-900);
    opacity: 0.8;

}

.toy-detail__item {
    margin: 3%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.toy-detail__label {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--text-label);
    text-transform: uppercase;
}

.toy-detail__text {
    font-size: 1.1rem;
    color: var(--text-description);
    margin-bottom: 2%;
}

.toy-detail__last {
    margin-bottom: 10%;
}

.borrow__button {
    padding: 4%;
    border-radius: 20px;
    background-color: var(--teal);
    color: var(--bg-main);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.borrow__button:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.borrow__button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.toy-detail__pending {
    padding: 4%;
    font-weight: 700;
    color: var(--mustard);
}

.toy-detail__unavailable {
    padding: 4%;
    font-weight: 700;
    color: var(--coral);
}