.admin-dashboard {
    height: 100vh;
    background-color: var(--teal-soft);
    display: flex;
    justify-content: center;

}

.admin-dashboard__content {
    width: 60%;
    height: 60%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.admin-dashboard__overview {
    width: 95%;
    height: 45%;
    border-radius: 15px;
    background-color: var(--soft-blue);
    display: flex;
}

.admin-dashboard__datetime {
    width: 32%;
    display: grid;
    place-items: center;
    font-size: 2.3rem;
    color: var(--text);
    background-color: var(--coral);
    opacity: 0.9;
    border-radius: 15px 0 0 15px;
}



.admin-dashboard__summary-card {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;

}

.admin-dashboard__summary-title {
    color: var(--navy-900);

}

.admin-dashboard__summary-label {
    margin-left: 10px;
    font-size: 1.8rem;
}

.admin-dashboard__summary-count {
    font-size: 2rem;
    font-weight: 600;
}

.admin-dashboard__separator {
    font-weight: 300;
}


.admin-dashboard__actions {
    width: 95%;
    height: 45%;
    display: flex;
    gap: 2%;
}

.admin-dashboard__card {
    width: 32%;
    border-radius: 15px;
    background: linear-gradient(110deg, var(--teal) 60%, var(--mustard) 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;

}

.admin-dashboard__card-title,
.admin-dashboard__badge {
    color: var(--text);
}

.admin-dashboard__badge {
    font-size: 2.5rem;
}

.admin-dashboard__card:hover {
    opacity: 0.7;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.admin-dashboard__card:active {
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}